<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/sb2/sb-admin-2.min.css" rel="stylesheet">

</head>
<body>
    <p></p>
    <h1 class="text-center">Plant web</h1>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/sb2/sb-admin-2.min.js"></script>

</body>

</html>
