@{
    ViewData["Title"] = "Calendar Management";
}

<h1>@ViewData["Title"]</h1>

<!-- fullcalendar -->
<link rel="stylesheet" type="text/css" href="~/lib/fullcalendar/main.css" />
<link rel="stylesheet" type="text/css" href="~/lib/fullcalendar/daygrid/main.css" />
<link rel="stylesheet" type="text/css" href="~/lib/fullcalendar/timegrid/main.css" />
<link rel="stylesheet" type="text/css" href="~/lib/fullcalendar/list/main.css" />

<link rel="stylesheet" type="text/css" href="~/css/views/Calendar/calendar.css" />

<div class="row">
  <div id='loading'>loading...</div>

  <div id='calendar'></div>
</div>

<!-- jquery -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<!-- fullcalendar -->
<script src="~/lib/fullcalendar/main.js"></script>
<script src="~/lib/fullcalendar/locales/es.js"></script>
<script src='~/lib/fullcalendar/interaction/main.js'></script>
<script src='~/lib/fullcalendar/daygrid/main.js'></script>
<script src='~/lib/fullcalendar/timegrid/main.js'></script>
<script src='~/lib/fullcalendar/list/main.js'></script>

<!-- calendar -->
<script src="~/js/views/Calendar/calendar.js"></script>

